<div class="jumbotron">
    <h1>Planets</h1>
    <p class="lead">Click on any Planet Below to see more information.</p>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <ul class="list-group" id="planetList">
        </ul>

    </div>


</div>


<div class="modal fade" id="planetModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="planetTitle"> </h4>
            </div>
            <div class="modal-body" style="padding-top: 0px;">
                <div class="row" style="margin-bottom: 15px;">
                    <img class="img-fluid img-responsive" src="" alt="image" id="planetImage">
                </div>
                <div class="row">
                    <label class="col-sm-6">Distance from Sun (km)</label>
                    <p class="col-sm-6" id="planetDistanceFromSun"></p>

                </div>
                <div class="row">
                    <label class="col-sm-6">Mass (kg)</label>
                    <p class="col-sm-6" id="planetMass"></p>

                </div>
                <div class="row">
                    <label class="col-sm-6">Diameter (km)</label>
                    <p class="col-sm-6" id="planetDiameter"></p>

                </div>
            </div>
        </div>

    </div>
</div>



